body {
  font-family: var(--font); }

h1 {
  font-size: 72px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 20px; }

p {
  font-size: 16px; }

.red_color {
  color: var(--primary-color); }

.red_bg {
  background: var(--primary-color); }

.black_color {
  color: var(--secondary-color); }

.black_bg {
  background: var(--secondary-color); }
