// Google Font
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #ea062b;
  --secondary-color: #111111;
  --white: #fff;
  --gray: #e7e7e7;
  --gray1: #f5f5f5;
  --gray2: #f1f1f1;
  --yellow: #ffc92e;
  --transition: all 0.3s ease-in;
  --font: "Jost", sans-serif;
  --p-color: #666666;
  --border-color: #cacaca;
  --shadow: 0px 0px 20px #0000002b;
  --transition_base: 0.3s;
  --gray_bg: #f9f9f9;
  --sidebar-color: #f9f9f9;
}
